In [ ]:
# https://github.com/pbugnion/gmaps/issues/246
# https://jupyter-gmaps.readthedocs.io/en/latest/install.html

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
from IPython.display import display
import requests
import pprint
import os
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
file_to_read = os.path.join("weather_data", "cities.csv")
city_data_df = pd.read_csv(file_to_read)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vardo,NO,2022-08-06 16:13:40,70.3705,31.1107,51.78,93,100,9.22
1,1,Tasiilaq,GL,2022-08-06 16:13:40,65.6145,-37.6368,46.56,77,100,14.56
2,2,Haines Junction,CA,2022-08-06 16:13:41,60.7522,-137.5108,53.98,82,96,5.48
3,3,Hamilton,US,2022-08-06 16:12:02,39.1834,-84.5333,82.20,97,75,6.91
4,4,Bluff,NZ,2022-08-06 16:13:41,-46.6000,168.3333,40.96,97,83,22.19

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(
    locations, weights=[max(temp, 0) for temp in max_temp],
    dissipating=False, max_intensity=300, point_radius=4
)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
display(fig) # simply calling fig was not working earlier

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations, weights=humidity, 
    dissipating=False, max_intensity=300, point_radius=4
)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations, weights=clouds, 
    dissipating=False, max_intensity=300, point_radius=4
)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations, weights=wind, 
    dissipating=False, max_intensity=300, point_radius=4
)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Hamilton,US,2022-08-06 16:12:02,39.1834,-84.5333,82.20,97,75,6.91
5,5,Samarai,PG,2022-08-06 16:13:41,-10.6167,150.6667,79.86,86,96,10.29
6,6,Lamu,KE,2022-08-06 16:13:42,-2.2717,40.9020,75.42,74,7,15.46
9,9,Vila Velha,BR,2022-08-06 16:13:42,-20.3297,-40.2925,80.55,66,20,17.27
10,10,Sao Filipe,CV,2022-08-06 16:13:43,14.8961,-24.4956,77.41,83,81,6.29
12,12,Cayenne,GF,2022-08-06 16:13:43,4.9333,-52.3333,89.64,28,40,5.01
13,13,Araxa,BR,2022-08-06 16:13:44,-19.5933,-46.9406,84.87,23,6,5.73
17,17,Atuona,PF,2022-08-06 16:13:45,-9.8000,-139.0333,76.77,77,60,18.70
18,18,Surt,LY,2022-08-06 16:13:45,31.2089,16.5887,83.91,60,0,11.77
19,19,Torbay,CA,2022-08-06 16:12:20,47.6666,-52.7314,78.89,72,9,11.99

In [13]:
preferred_cities_df.count()

City_ID       219
City          219
Country       219
Date          219
Lat           219
Lng           219
Max Temp      219
Humidity      219
Cloudiness    219
Wind Speed    219
dtype: int64

In [14]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
preferred_cities_df.notnull().sum()

City_ID       219
City          219
Country       219
Date          219
Lat           219
Lng           219
Max Temp      219
Humidity      219
Cloudiness    219
Wind Speed    219
dtype: int64

In [17]:
# Filtered heatmap of temperature
# Get the latitude and longitude.
locations = preferred_cities_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = preferred_cities_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(
    locations, weights=[max(temp, 0) for temp in max_temp],
    dissipating=False, max_intensity=300, point_radius=4
)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
display(fig) # simply calling fig was not working earlier

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3     Hamilton      US     82.20  39.1834  -84.5333
5      Samarai      PG     79.86 -10.6167  150.6667
6         Lamu      KE     75.42  -2.2717   40.9020
9   Vila Velha      BR     80.55 -20.3297  -40.2925
10  Sao Filipe      CV     77.41  14.8961  -24.4956
12     Cayenne      GF     89.64   4.9333  -52.3333
13       Araxa      BR     84.87 -19.5933  -46.9406
17      Atuona      PF     76.77  -9.8000 -139.0333
18        Surt      LY     83.91  31.2089   16.5887
19      Torbay      CA     78.89  47.6666  -52.7314

In [18]:
# https://developers.google.com/maps/documentation/places/web-service/search#PlaceSearchRequests%0D%0A
# https://requests.kennethreitz.org/en/latest/

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

print("----------------")
print("Search complete.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head()

          City Country  Max Temp      Lat       Lng                 Hotel Name
3     Hamilton      US     82.20  39.1834  -84.5333  Six Acres Bed & Breakfast
5      Samarai      PG     79.86 -10.6167  150.6667                  Nuli Sapi
6         Lamu      KE     75.42  -2.2717   40.9020                 Lamu House
9   Vila Velha      BR     80.55 -20.3297  -40.2925       Hotel Vitória Palace
10  Sao Filipe      CV     77.41  14.8961  -24.4956              Hotel Xaguate

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]